:root {
  --primary-color: #209cee;
  --headings-font-family: 'Chillax', sans-serif;
  --body-font-family: 'Synonym', sans-serif;
}

body {
  font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
}

h1 {
  font-size: 48px;
}
